freshdaily.ru {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy same-origin
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
    reverse_proxy app:4000
}
